{
  "root": true,
  "parser": "@typescript-eslint/parser",
  "plugins": ["@typescript-eslint"],
  "extends": [
    "eslint:recommended",
    "plugin:@typescript-eslint/eslint-recommended",
    "plugin:@typescript-eslint/recommended"
    // "plugin:@shopify/esnext"
  ],
  "rules": {
    "no-console": "error",
    "@typescript-eslint/no-var-requires": "off"
  },
  "env": {
    "node": true
  }
}
