@import 'normalize.css';

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    // background-color: #fff;
}
html {
    font-size: 62.5%;
}

.mgt-30 {
    margin-top: 30px;
}
.ant-input {
    border-radius: 100px;
}
