.main {
    text-align: center;
    margin-top: 90px;
    padding-top: 96px;

    box-shadow: '5px 8px 24px 5px rgba(208, 216, 243, 0.6)';
    background-color: white;
    .col {
    }

    h1:first-of-type {
        span:nth-child(1) {
            color: red;
        }
        span:nth-child(2) {
            color: blue;
        }
        span:nth-child(3) {
            color: blueviolet;
        }
    }

    .explain {
        margin-top: 30px;
    }
}
