.main {
    text-align: center;
    margin-top: 90px;
    padding-top: 96px;

    font-family: 'ui-sans-serif';

    h1:first-of-type {
        font-size: 44px;
        span:nth-child(1) {
            color: #111827;
        }
        span:nth-child(2) {
            color: #64748b;
        }
        span:nth-child(3) {
            color: #3b82f6;
        }
    }
    p:first-of-type {
        font-size: 20px;
        color: #57534e;
    }
    .search {
        border: 1px solid #d9d9d9;
        border-radius: 5px;
        padding-top: 8px;
    }
    .searchTitle {
        padding-top: 5px;
    }
    .searchBar {
        width: 100%;
        padding: 16px 20px;
        border: none;
        border-radius: 4px;
        text-decoration: none;
    }
    input:focus {
        outline: none;
    }
}
.wrapper {
    position: relative;
}

.icon {
    height: 1.5rem;
    width: 1.5rem;
    background-color: red;
    padding: 4px;
    position: absolute;
    box-sizing: border-box;
    top: 50%;
    left: 2px;
    transform: translateY(-50%);
}

.input {
    height: 50px;
    box-sizing: border-box;
    padding-left: 1.5rem;
}
