.main {
    text-align: center;
    margin-top: 90px;
    padding-top: 96px;

    font-family: 'ui-sans-serif';

    h1:first-of-type {
        font-size: 44px;
        span:nth-child(1) {
            color: #111827;
        }
        span:nth-child(2) {
            color: #64748b;
        }
        span:nth-child(3) {
            color: #3b82f6;
        }
    }
    p:first-of-type {
        font-size: 20px;
        color: #57534e;
    }
    .search {
        border: 1px solid #d9d9d9;
        border-radius: 5px;
        padding-top: 8px;
    }
    .searchTitle {
        padding-top: 5px;
    }
    .searchBar {
    }
}
